@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    /* Custom styles using @apply */
    #toggle:checked ~ label div.toggle-circle {
        @apply translate-x-3;
    }

    .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
        content: '' !important; /* Remove the 'next' text */
    }
    .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after{ 
        content: '' !important;
    }
}

@layer components{
    .card-grid{
        @apply bg-blue-500 aspect-[3/4] md:aspect-[3/4] xl:aspect-[4/3] rounded-lg overflow-hidden relative hover:scale-95 duration-500;
    }
    .bg-sky-transparent{
        background: rgba(224, 242, 254, 0.35);
    }
    
    .btn-next-yellow{
        @apply block text-center rounded-full p-2 px-4  text-[#FABE0E] border border-solid border-[#FABE0E] hover:bg-[#FABE0E] hover:text-white dark:border-gray-800 dark:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-slate-400;
    }

    .btn-start{
        @apply block text-center rounded-full   px-10 text-sky-700 border border-solid border-sky-700 hover:bg-sky-700 hover:text-white dark:border-gray-800 dark:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-slate-400;
    }
    .btn-start-card{
        @apply block text-center rounded-full   px-10 text-sky-700 border border-solid border-sky-700 hover:bg-sky-700 hover:text-white dark:border-gray-400 dark:text-gray-400 dark:hover:bg-gray-500 dark:hover:text-slate-400;
    }
    .card-bordered-yellow-octaclass{
        @apply w-full p-5 rounded-xl shadow-sm border-t-4 border-t-[#FABE0E] dark:border dark:border-slate-800 mb-5 dark:border-t-4;
    }

    .pill-octaclass{
        @apply rounded-lg border dark:border-gray-800 text-[10px] px-4 py-1;
    }

    .btn-red-octaclass{
        @apply bg-red-700 hover:bg-red-600 hover:text-white dark:text-white cursor-pointer w-full h-14 rounded-xl text-white;
    }

  .btn-yellow-octaclass{
    @apply block text-center rounded-full p-2 px-4  text-white bg-[#FABE0E] border border-solid border-[#FABE0E] hover:bg-[#d4af41] hover:text-white dark:border-gray-800 dark:text-gray-700 dark:bg-gray-900 dark:hover:bg-gray-800 dark:hover:text-slate-400 w-full;
  }

  .card-octaclass-flex {
    @apply dark:shadow-gray-800 dark:bg-gray-800 dark:text-slate-400 rounded-xl shadow-lg mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-72 xl:w-64;
  }

  .btn-exam {
    @apply dark:bg-slate-600 dark:hover:bg-slate-800 bg-slate-100 mb-1 cursor-pointer px-3 py-2 hover:bg-gray-200 rounded-lg;
  }
}